__pycache__/
.cache/
CMakeFiles/
__/
outputs/
builds/
vdos
Makefile
tags
CMakeCache.txt
.clang-format
*.ipynb
*.html
*.json
*.off
*.o
*.bak
*.cmake
*.idx
*.bin
*.cu
*.out
*.cu
*.log
*.d
*.make
*.pdb
*.csv
*.off
*.png
*.lck
